* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 300;
  height: 200vh;
  margin: auto auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.heading-h2 {
  font-size: 4rem;
  color: #15c2c4;
  padding-bottom: 8rem;
  padding-top: 8rem;
  text-align: center;
}

.header__sidebar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 10rem;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  transition: all 0.4s linear;
  z-index: 10000;
}
.header__nav {
  justify-content: space-around;
  list-style: none;
  display: flex;
  grid-column: 5/-1;
}
.header__item {
  padding: 1rem 0;
  position: relative;
  text-align: center;
}
.header__link:hover::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fceb3b;
  z-index: -1;
}
.header__link:hover, .header__link:active {
  transform: translateY(-1rem);
}
.header__link:link, .header__link:visited {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
}
.header__link-1:link, .header__link-1:visited {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.2s;
}
.header__item-1 {
  border: 2px solid #000;
  background-color: #f37755;
  padding: 1rem 5rem;
  border-radius: 5rem;
  color: #fff !important;
  width: 20rem;
  height: 4.6rem;
  cursor: pointer;
  transition: all 0.2s;
}
.header__item-1:hover {
  transform: translateY(-5px);
}
.header__item-1:active {
  transform: translateY(-2px);
}
.header__sticky {
  background-color: #fff;
  transition: all 0.4s linear;
}
.header__sticky .header__logo {
  transition: all 0.4s ease-in-out;
}
.header__sticky .header__logo img {
  width: 70px;
  height: 70px;
}

.bg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
  border: 2px solid #000;
  border-radius: 3rem;
  background: #fff;
  grid-gap: 1rem;
  height: 60px;
  max-width: 1240px;
  font-weight: bolder;
}
.bg .bg__text {
  display: flex;
  align-items: center;
}
.bg__video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  height: 100%;
}
.bg__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bg__news {
  grid-column: 1/3;
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
}
.bg__times {
  grid-column: 3/4;
  font-size: 1.3rem;
  font-weight: medium;
}
.bg__text {
  grid-column: 4/12;
  font-size: 1.6rem;
}
.bg__text marquee {
  line-height: 1.6rem;
}
.bg__icon {
  grid-column: 12/-1;
}
.bg__unit-icon {
  margin-left: 3rem;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.wrapper img {
  height: auto;
}
.wrapper img.people {
  position: absolute;
  top: 18%;
  width: 70%;
  height: auto;
}
.wrapper img.text {
  position: absolute;
  top: 30%;
  width: 38%;
}
.wrapper__star {
  position: absolute;
  top: 50%;
  right: 7%;
}

.whatit19 {
  position: relative;
  display: flex;
  padding: 40px 0;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #fdfaf6;
}
.whatit19__h3 {
  font-size: 3rem;
  font-weight: 700;
  color: #15c2c4;
  margin-bottom: 3rem;
}
.whatit19__h3 span {
  background: linear-gradient(transparent 65%, #fff378 50%, #ffe600 50%);
}
.whatit19__text {
  font-size: 1.6rem;
  line-height: 3;
  font-weight: 600;
}

.row-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10rem;
}

.card {
  perspective: 1500rem;
  text-align: center;
}
.card__side {
  transition: all 0.2s linear;
  width: 318px;
  height: 318px;
  border: 1rem solid #15c2c4;
  border-radius: 50%;
  padding: 6rem 0;
  text-align: center;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.card__side--front {
  background-color: #fff;
  color: #15c2c4;
}
.card__side--front p {
  font-size: 2.4rem;
  font-weight: bold;
}
.card__side--front span {
  font-family: "futura-pt", sans-serif;
  font-size: 1.6rem;
}
.card__side--back {
  transform: rotateY(180deg);
  position: absolute;
  background-color: #15c2c4;
}
.card__side--back p {
  padding: 1rem;
  color: #fff;
  font-size: 1.4rem;
  line-height: 3;
  font-weight: 400;
}
.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}

.btn {
  position: relative;
  width: 36rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fceb3b;
  border-radius: 3rem;
  padding: 1rem;
  margin: auto;
  transition: all 0.2s linear;
  font-size: 1.8rem;
  font-weight: bold;
  border: 2px solid black;
}
.btn__arrow img {
  position: absolute;
  top: 28%;
  right: 10%;
}

.btn:hover {
  transform: translateY(-6px);
}

.btn:active {
  transform: translateY(-2px);
}

.dekikoto {
  position: relative;
  display: flex;
  padding: 100px 0;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  color: #15c2c4;
}
.dekikoto .content-top {
  margin-bottom: 3%;
}
.dekikoto .content-top span {
  font-size: 30px;
  font-weight: bold;
}
.dekikoto .content-top h3 {
  font-size: 50px;
}
.dekikoto .content-top p {
  font-size: 13px;
  font-weight: bold;
}
.dekikoto .content-txt {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 3rem;
}
.dekikoto ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto 60px;
}
.dekikoto ul li {
  list-style: none;
  width: 339px;
  margin-top: 30px;
  border: 3px solid #119c9d;
  border-radius: 10px;
  box-shadow: 8px 8px #119c9d;
  transition: all 0.3s;
}
.dekikoto ul li:hover {
  transform: translateY(-20px);
}
.dekikoto ul li a {
  text-decoration: none;
}
.dekikoto ul li a h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
.dekikoto ul li a p {
  font-size: 14px;
  line-height: 2;
  font-weight: 500;
}
.dekikoto ul li .img_area {
  position: relative;
  margin: 20px auto;
}
.dekikoto ul li .text_area {
  position: relative;
  padding: 18px 0 20px 0;
  text-align: center;
  color: #000;
}

.IT19 {
  position: relative;
  display: flex;
  padding: 40px 0;
  width: 100%;
  height: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #fff378;
}
.IT19 .content-top {
  margin-bottom: 20px;
}
.IT19 h3 {
  font-size: 40px;
  color: #15c2c4;
}
.IT19 span {
  font-size: 13px;
  font-weight: bold;
  color: #15c2c4;
}
.IT19 .content-txt {
  font-size: 14px;
  color: #333;
  font-weight: 500;
  line-height: 3rem;
  margin-bottom: 40px;
}
.IT19 .wrap-box {
  position: relative;
  background: #44ced0;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 4%;
  padding: 20px;
  border-radius: 10px;
}
.IT19 .wrap-box:last-child {
  width: calc(100% - 549px);
}
.IT19 .wrap-box .content-box {
  display: flex;
}
.IT19 .wrap-box .content-box img {
  width: 140px;
  height: 125px;
}
.IT19 .wrap-box .content-box .txt {
  text-align: start;
  color: #fff;
  margin-left: 10%;
}
.IT19 .wrap-box .content-box .txt h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.IT19 .wrap-box .content-box .txt p {
  font-size: 14px;
  font-weight: 500;
}
.IT19 i {
  position: absolute;
  bottom: -30px;
  font-size: 50px;
  color: #44ced0;
}

.container-feature {
  width: 100%;
  height: auto;
  background: #44ced0;
  padding: 80px 0;
}
.container-feature .box-feature {
  position: relative;
  width: calc(100% - 340px);
  background: #fff;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 80px;
  border-radius: 10px;
}
.container-feature .box-feature .back {
  position: absolute;
  top: 100px;
}
.container-feature .box-feature .back p {
  font-family: "elevon", sans-serif;
  font-size: 294px;
  opacity: 0.6;
  font-weight: bold;
  color: #cbf3f2;
}
.container-feature .box-feature .front {
  text-align: center;
  width: 100%;
  z-index: 999;
}
.container-feature .box-feature .front .content-h3 {
  margin-bottom: 15%;
}
.container-feature .box-feature .front .content-h3 h3 {
  font-size: 40px;
  color: #15c2c4;
  margin-bottom: 2%;
}
.container-feature .box-feature .front .content-h3 span {
  font-size: 13px;
  font-weight: bold;
  color: #15c2c4;
}
.container-feature .box-feature .front .content-h3 .txt {
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin-top: 2%;
  line-height: 2;
}
.container-feature .box-feature .front .wrap-box-feature {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-feature .box-feature .front .wrap-box-feature .content-box.feature_1,
.container-feature .box-feature .front .wrap-box-feature .feature_2,
.container-feature .box-feature .front .wrap-box-feature .feature_3 {
  position: relative;
  color: black;
  text-align: center;
}
.container-feature .box-feature .front .wrap-box-feature .content-box.feature_1 span,
.container-feature .box-feature .front .wrap-box-feature .feature_2 span,
.container-feature .box-feature .front .wrap-box-feature .feature_3 span {
  font-family: "Noto Sans JP", sans-serif;
  position: absolute;
  top: -150px;
  left: 0;
  -webkit-text-stroke: 2.5px #ffe600;
  color: #fff;
  font-weight: bold;
  font-size: 117px;
}
.container-feature .box-feature .front .wrap-box-feature .content-box.feature_1 img,
.container-feature .box-feature .front .wrap-box-feature .feature_2 img,
.container-feature .box-feature .front .wrap-box-feature .feature_3 img {
  width: auto;
  height: 139px;
  margin-bottom: 7%;
}
.container-feature .box-feature .front .wrap-box-feature .content-box.feature_1 h3,
.container-feature .box-feature .front .wrap-box-feature .feature_2 h3,
.container-feature .box-feature .front .wrap-box-feature .feature_3 h3 {
  font-size: 24px;
  font-weight: bold;
}
.container-feature .box-feature .front .wrap-box-feature .content-box.feature_1 p,
.container-feature .box-feature .front .wrap-box-feature .feature_2 p,
.container-feature .box-feature .front .wrap-box-feature .feature_3 p {
  font-size: 16px;
  font-weight: 400;
  line-height: 3rem;
}

.section-bottom {
  padding: 80px 100px;
  text-align: center;
}
.section-bottom .section-bottom-txt {
  margin-bottom: 3%;
}
.section-bottom .section-bottom-txt h3 {
  font-size: 32px;
  color: #15c2c4;
  font-weight: bold;
}
.section-bottom .section-bottom-txt p {
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.section-two {
  width: 100%;
  background-color: #fdfaf6;
  text-align: center;
  padding: 40px 0;
}
.section-two .content-txt {
  margin: 2% 0;
}
.section-two .content-txt h3 {
  font-size: 37px;
  color: #15c2c4;
}
.section-two .content-txt span {
  font-size: 13px;
  font-weight: bold;
  color: #15c2c4;
}
.section-two .content-txt .txt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 2%;
  line-height: 3;
}
.section-two .sider-pro {
  display: flex;
  position: relative;
  box-sizing: content-box;
}
.section-two .sider-pro .sp-slider-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section-two .sider-pro .header-container {
  display: flex;
  position: relative;
  width: 680px;
  height: 399px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 20px;
  overflow: hidden;
}
.section-two .sider-pro .header-container .header-container-text {
  width: 50%;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 4px;
  color: white;
  text-align: start;
  margin: 100px 0 0 40px;
}
.section-two .sider-pro .header-container .header-container-text h3 {
  font-size: 37px;
  color: #000;
  border-bottom: 3px dashed #fceb3b;
  margin-bottom: 10%;
}
.section-two .sider-pro .header-container .header-container-text span {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
.section-two .sider-pro .header-container .header-container-text .txt {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-top: 10%;
}
.section-two .sider-pro .header-container .header-image {
  position: relative;
  width: 50%;
  background-blend-mode: darken;
  border-radius: 10px 10px 10px 0;
  -webkit-clip-path: polygon(30% 0, 0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(30% 0, 0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.3s;
}
.section-two .sider-pro .sp-arrows {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.section-two .sider-pro .sp-arrows .sp-previous-arrow,
.section-two .sider-pro .sp-arrows .sp-next-arrow {
  width: 40px;
  height: 40px;
  left: -20px;
  right: auto;
  border-radius: 40px;
  border: 3px solid #000;
  background: #fff;
}
.section-two .sider-pro .sp-arrows .sp-previous-arrow i,
.section-two .sider-pro .sp-arrows .sp-next-arrow i {
  font-size: 30px;
  color: #15c2c4;
  position: absolute;
  top: 5px;
  left: 13px;
}
.section-two .sider-pro .sp-arrows .sp-next-arrow {
  right: -20px;
  left: auto;
  width: 40px;
  height: 40px;
  /* background:url(../image/top_slider_r_ar.png);
  background-size:cover; */
}
.section-two .sider-pro .sp-arrows .sp-next-arrow i {
  font-size: 30px;
  color: #15c2c4;
  position: absolute;
  top: 5px;
  right: 13px;
}

.container-three {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.container-three .border-box {
  width: 40%;
  border: 2px solid #000;
  padding: 1% 2%;
  border-radius: 10px;
  margin: 0 2%;
}
.container-three .border-box .box-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-three .border-box .box-content h2 {
  font-size: 28px;
  border-bottom: 4px solid #fceb3b;
}
.container-three .border-box .box-content i {
  font-size: 30px;
}

.latest-info {
  width: 100%;
  height: auto;
  text-align: center;
  color: #15c2c4;
}
.latest-info h3 {
  font-size: 37px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 1%;
}
.latest-info span {
  font-size: 13px;
  font-family: "futura-pt", sans-serif;
}
.latest-info .txt {
  font-size: 14px;
  font-weight: 400;
  margin-top: 1%;
  line-height: 3;
  color: #000;
}
.latest-info .wrap-news {
  margin-bottom: 66px;
  width: 100%;
}
.latest-info .wrap-news .newsWrapback {
  display: flex;
}
.latest-info .wrap-news .newsWrapback .container-news {
  margin: 0 auto;
  margin-top: 30px;
  border-bottom: 1px #d9d9d9 solid;
  display: flex;
  justify-content: space-around;
  text-align: start;
}
.latest-info .wrap-news .newsWrapback .container-news .news-img {
  margin: 0 30px 30px 0;
}
.latest-info .wrap-news .newsWrapback .container-news .news-content {
  width: 1100px;
  margin: 0 auto;
}
.latest-info .wrap-news .newsWrapback .container-news .news-content .news-date {
  display: flex;
}
.latest-info .wrap-news .newsWrapback .container-news .news-content .news-date h2 {
  font-size: 14px;
  color: #fff;
  background-color: #15c2c4;
  text-align: center;
  padding: 2px 50px;
  margin-right: 15px;
  border-radius: 2px;
}
.latest-info .wrap-news .newsWrapback .container-news .news-content .news-date p {
  font-size: 15px;
  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

.container {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.container .back {
  position: absolute;
}
.container .back .text {
  font-family: "elevon", sans-serif;
  font-size: 150px;
  opacity: 0.6;
  font-weight: 700;
  color: #cbf3f2;
}
.container .front {
  text-align: center;
  z-index: 999;
  margin-top: 10%;
}
.container .front h1 {
  font-size: 50px;
  font-family: "Noto Sans JP", sans-serif;
  color: #15c2c4;
  margin-bottom: 5%;
}
.container .front p {
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  line-height: 2;
}

.question {
  margin-top: 12rem;
}
.question__line {
  background: url(../img/question.png);
  background-position: center;
  background-size: cover;
  height: 1.5rem;
}
.question__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10rem;
}
.question__item {
  width: 225px;
  height: 70px;
  border-radius: 10rem;
}
.question__link {
  font-size: 2.2rem;
  padding-left: 1rem;
  color: black;
}

.heading__h2 {
  color: #15c2c4;
  font-size: 37px;
  text-align: center;
  padding-top: 3rem;
}

.heading__h4 {
  text-align: center;
  color: #15c2c4;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  padding: 2rem 1rem;
}

.heading__p {
  text-align: center;
  line-height: 2;
  font-size: 1.4rem;
  font-weight: medium;
  margin-bottom: 5rem;
}

main .container-wrap {
  width: 100%;
  background: #15c2c4;
}
main .container-wrap .container-content {
  text-align: center;
}
main .container-wrap .container-content nav {
  width: 100%;
  padding: 40px 0;
}
main .container-wrap .container-content nav ul {
  width: calc(100% - 370px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 1% 0;
  background-color: #fff;
  border: 2px #000 solid;
  border-radius: 10px;
}
main .container-wrap .container-content nav ul li {
  list-style: none;
  padding: 0 10px;
}
main .container-wrap .container-content nav ul li:not(:last-child)::after {
  content: "";
}
main .container-wrap .container-content nav ul li a {
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}
main .container-wrap .container-content h1 {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  line-height: 2em;
  width: 732px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
}
main .container-wrap .container-content p {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
  line-height: 3;
  font-weight: 400;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
main .section {
  width: 100%;
  padding: 10% 0;
}
main .section .container-section {
  text-align: center;
}
main .section .container-section h1 {
  font-size: 40px;
  font-weight: bold;
  color: #15c2c4;
  margin-bottom: 4%;
}
main .section .container-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
main .section .container-box .border-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 263px;
  height: 263px;
  border: 3px solid #15c2c4;
  border-radius: 100%;
}
main .section .container-box .border-box span {
  font-size: 117px;
  font-weight: bold;
  -webkit-text-stroke: 2px #ffe600;
  color: #fff;
  position: absolute;
  top: -100px;
}
main .section .container-box .border-box p {
  font-size: 22px;
  font-weight: bold;
  color: #15c2c4;
  text-align: center;
  padding: 20px;
}
main .section .container-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .section .container-content span {
  font-size: 117px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 2px #ffe600;
  color: #fff;
  position: absolute;
  top: -110px;
  margin-left: 17%;
  z-index: -1;
}
main .section .container-content span:nth-child(odd) {
  left: 0;
}
main .section .container-content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
  margin-left: 6%;
  letter-spacing: 3px;
  text-align: start;
}
main .section .container-content p.txt {
  margin-left: 0;
  margin-right: 6%;
}
main .section .container-content .content-txt {
  margin-left: 10%;
}
main .section .container-content .content-txt .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
main .section .container-content .content-txt .flex .c_txt {
  font-size: 20px;
  font-weight: bold;
  width: 15%;
  color: #fff;
  border-radius: 4px;
}
main .section .container-content .content-txt .flex .c_txt.bg_color_1 {
  background: #15c2c4;
}
main .section .container-content .content-txt .flex .c_txt.bg_color_2 {
  background: #ffe600;
}
main .section .container-content .content-txt .flex .c_txt.bg_color_3 {
  background: #ee7710;
}
main .section .container-content .content-txt .flex .c_txt.bg_color_4 {
  color: #000;
  background: #fff;
  border: 1px black solid;
}

.cool {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(#d16ba5, #9a9ae1, #5ffbf1);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cool .pacman {
  width: 0px;
  height: 70px;
  border: 70px solid red;
  border-bottom-color: black;
}

.service {
  display: flex;
  justify-content: center;
  height: 100%;
}
.service__boxs {
  width: 914px;
  height: 510px;
}
.service__box {
  position: relative;
}
.service__text {
  margin-bottom: 8rem;
  margin-top: 2.4rem;
  font-size: 1.6rem;
}
.service__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.service__caption div {
  width: 70px;
  height: 70px;
  margin-right: 2rem;
  background: #fff;
  box-shadow: 6px 6px 0 #15c2c4;
  text-align: center;
}
.service__caption span {
  font-size: 34pt;
  font-weight: bold;
}

.schedule__title {
  text-align: center;
}
.schedule__title h3 {
  font-size: 4rem;
  font-weight: bold;
  padding-bottom: 3rem;
}
.schedule__title p {
  margin: auto;
  width: 670px;
  font-size: 1.6rem;
  font-weight: medium;
  padding-bottom: 3rem;
}
.schedule__table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.table__title {
  padding-bottom: 2.5rem;
  position: relative;
}
.table__title h3 {
  font-size: 3rem;
  font-weight: 400;
}

.table__title span:nth-child(1) {
  position: absolute;
  top: 1.5rem;
  left: -4rem;
  display: inline-block;
  background: url(../img/polygon-left.svg) no-repeat;
  width: 4rem;
  height: 4rem;
}

.table__title span:nth-child(2) {
  position: absolute;
  top: 1.5rem;
  right: -4rem;
  display: inline-block;
  background: url(../img/polygon-right.svg) no-repeat;
  width: 4rem;
  height: 4rem;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  padding: 2rem 6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

tr td:not(:last-child) {
  font-weight: bold;
}

.table__th--row {
  background-color: rgba(252, 235, 59, 0.9);
}
.table__th--column {
  background-color: rgba(21, 194, 196, 0.9);
  color: #fff;
  font-family: "futura-pt", sans-serif;
  font-weight: bold;
}

.line {
  border-bottom: 1px dashed #000;
  width: 1140px;
  margin: 5rem auto;
}

.method {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.method__arrow {
  position: relative;
  margin-bottom: 3rem;
}
.method__content {
  position: relative;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.method__content p {
  position: absolute;
  font-size: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.method__content .txt {
  font-size: 16px;
  font-weight: 500;
  width: 186px;
}
.method__img {
  width: 16rem;
  height: auto;
}
.method__step {
  position: absolute;
  top: -30px;
  width: 5.5rem;
  height: 5.5rem;
  background-color: #15c2c4;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  line-height: 1;
}
.method__text {
  font-size: 1.4rem;
  font-weight: bold;
}
.method__number {
  font-size: 2.5rem;
  font-weight: bold;
}

.content {
  padding: 20rem 10rem;
}
.content__box {
  text-align: center;
  padding-bottom: 3rem;
}
.content__box h3 {
  font-size: 40px;
  color: #15c2c4;
}

.section {
  width: 100%;
  background-color: #fdfaf6;
  text-align: center;
  padding: 40px 0;
}
.section .sider-pro {
  display: flex;
  position: relative;
  box-sizing: content-box;
}
.section .sider-pro .sp-slider-container {
  margin: auto !important;
}
.section .sider-pro .header-container {
  display: flex;
  position: relative;
  width: 914px;
  height: 390px;
  background-color: #fff;
  border-radius: 10px;
  margin: 10% 0;
  overflow: hidden;
}
.section .sider-pro .header-container .header-container-text {
  width: 50%;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: 4px;
  color: white;
  text-align: start;
  margin: 100px 0 0 40px;
}
.section .sider-pro .header-container .header-container-text h3 {
  font-size: 37px;
  color: #000;
  border-bottom: 3px dashed #fceb3b;
  margin-bottom: 10%;
}
.section .sider-pro .header-container .header-container-text span {
  font-size: 17px;
  font-weight: bold;
  color: #000;
}
.section .sider-pro .header-container .header-container-text .txt {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin-top: 10%;
}
.section .sider-pro .header-container .header-image {
  position: relative;
  width: 50%;
  background-blend-mode: darken;
  border-radius: 10px 10px 10px 0;
  -webkit-clip-path: polygon(30% 0, 0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(30% 0, 0 0, 100% 0, 100% 100%, 0 100%);
  transition: all 0.3s;
}

.news {
  display: flex;
  justify-content: space-between;
  padding: 4rem 20rem;
}
.news__boxs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 70%;
}
.news__box {
  width: 680px;
  height: 330px;
  border: 1px solid #15c2c4;
  border-radius: 1rem;
  box-shadow: 6px 6px 0 #15c2c4;
  margin-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 7rem 3rem;
}
.news__img {
  margin-right: 3rem;
}
.news__title {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
}
.news__title p {
  background-color: #15c2c4;
  color: #fff;
  padding: 4px 5rem;
  border-radius: 5px;
}
.news__detail h2 {
  font-weight: bold;
  font-size: 1.8rem;
  margin: 1rem 0;
}
.news__detail p {
  font-size: 1.4rem;
}

.category {
  border: 1px;
  border-radius: 1rem;
  height: 300px;
  text-align: center;
  letter-spacing: 2px;
  box-shadow: 6px 6px 10px 6px rgba(0, 0, 0, 0.3);
}
.category__box {
  padding: 2rem 8rem;
}
.category p {
  padding: 2rem 3rem;
  border-bottom: 2px solid #000;
}
.category__title {
  font-size: 1.8rem;
  font-weight: bold;
}
.category__font {
  font-weight: 500;
  font-size: 1.4rem;
}
.category__news {
  color: #15c2c4;
}
.category__twitter {
  color: #016db5;
}
.category__instagram {
  color: #f37755;
}

.pagination {
  display: flex;
  padding-bottom: 5rem;
}
.pagination p {
  border: 2px solid #000;
  padding: 1.2rem 2.2rem;
  border-radius: 1rem;
  margin: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
}
.pagination__active {
  background-color: #fceb3b;
}

.exchange {
  padding: 6rem 10rem;
  text-align: center;
  background: #15c2c4;
}
.exchange__text {
  margin-bottom: 5rem;
}
.exchange h3 {
  color: #fff;
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.exchange p {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

main nav {
  width: 100%;
}
main nav ul {
  width: 804px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px #000 solid;
  border-radius: 10px;
}
main nav ul li {
  list-style: none;
  padding: 0 15%;
}
main nav ul li:first-child {
  border-right: 2px #000 solid;
}
main nav ul li a {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
main .wrapper-box {
  text-align: center;
  padding: 8% 0;
}
main .wrapper-box .wrapper-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 4%;
}
main .wrapper-box .wrapper-flex .border-box {
  max-width: 356px;
  height: 190px;
  position: relative;
  border: 3px black solid;
  border-radius: 10px;
  padding: 10px;
}
main .wrapper-box .wrapper-flex .border-box.center {
  margin: 0 1%;
}
main .wrapper-box .wrapper-flex .border-box .content-box {
  position: relative;
  top: -45px;
}
main .wrapper-box .wrapper-flex .border-box img {
  background: #fff;
  padding: 0 20%;
}
main .wrapper-box .wrapper-flex .border-box h3 {
  font-size: 24px;
  font-weight: bold;
  padding: 15px 0;
}
main .wrapper-box .wrapper-flex .border-box p {
  font-size: 14px;
  font-weight: 400;
  padding: 25px;
}
main .bg-section {
  width: 100%;
  padding: 3% 10%;
  background: #15c2c4;
  text-align: center;
}
main .bg-section h1 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  display: grid;
}
main .bg-section h1 i {
  padding: 2% 0;
  letter-spacing: 24px;
}
main .bg-section .wrap {
  position: relative;
  padding: 40px 0;
  border-radius: 20px;
  background: #fff;
  margin: auto;
  text-align: center;
  width: 1100px;
}
main .bg-section .wrap h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
main .bg-section .wrap p {
  font-size: 16px;
}
main .bg-section .wrap .main-div,
main .bg-section .wrap .loggedin-div {
  padding: 0 10%;
  margin: 0px auto;
  margin-top: 150px;
}
main .bg-section .wrap .main-div .flex,
main .bg-section .wrap .loggedin-div .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
main .bg-section .wrap .main-div .flex label,
main .bg-section .wrap .loggedin-div .flex label {
  font-size: 20px;
  font-weight: bold;
}
main .bg-section .wrap .main-div .flex input,
main .bg-section .wrap .loggedin-div .flex input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 660px;
  font-weight: 700;
}
main .bg-section .wrap .main-div .flex input:focus,
main .bg-section .wrap .loggedin-div .flex input:focus {
  border: 1px solid #999;
}
main .bg-section .wrap .main-div .flex textarea,
main .bg-section .wrap .loggedin-div .flex textarea {
  width: 660px;
  height: 150px;
  padding: 5px 10px;
}
main .bg-section .wrap .border-box {
  padding: 40px 20px;
  width: 60%;
  margin: auto;
  border: 3px #000 solid;
  border-radius: 10px;
}
main .bg-section .wrap .border-box h2 {
  font-size: 24px;
  margin-bottom: 40px;
}
main .bg-section .wrap .border-box p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 400;
  text-align: start;
  display: flex;
  justify-content: center;
}
main .bg-section .wrap .form-check {
  margin: 4% 0;
  font-size: 16px;
}
main .title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
main .title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #15c2c4;
}
main .question {
  background: #fff;
  border: 3px #000 solid;
  border-radius: 10px;
  margin-bottom: 2rem;
  width: 50%;
  margin: auto;
  margin-bottom: 2em;
}
main .question .question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}
main .question .question-title .bg-q {
  background: #15c2c4;
  padding: 1%;
  width: 120px;
}
main .question .question-title .bg-q span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "futura-pt", sans-serif;
  color: #fceb3b;
}
main .question .question-title p {
  font-size: 16px;
  margin-bottom: 0;
  letter-spacing: 0.25rem;
  color: #000;
}
main .question .question-title .question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  color: #ffe600;
  transition: all 0.3s linear;
}
main .question .question-title .question-btn i {
  font-size: 30px;
}
main .question .question-title .question-btn:hover {
  transform: rotate(90deg);
}
main .question .question-text {
  text-align: center;
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
main .question .question-text p {
  font-size: 16px;
  margin-bottom: 0;
}

.question-text {
  display: none;
}

.show-text .question-text {
  display: block;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

.minus-icon {
  display: none;
}

footer {
  position: relative;
}

.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 10rem;
  color: #15c2c4;
  font-size: 1.4rem;
}
.footer__top {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
  align-items: center;
}
.footer__bottom {
  grid-column: 1/-1;
}
.footer__sns {
  position: absolute;
  top: 10rem;
  right: 5rem;
}
.footer__sns img {
  padding: 0.5rem;
}

.address {
  display: flex;
  justify-content: space-around;
  flex: 50%;
  padding: 0 5rem;
}
.address__left {
  display: flex;
}
.address__left p {
  padding-right: 1.2rem;
}
.address__line {
  border-left: 2px solid #15c2c4;
}
.address__right {
  display: flex;
}
.address__right p {
  padding-right: 1.2rem;
}

.table {
  display: flex;
  justify-content: space-around;
}
.table__father {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}