.header {
  &__sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    transition: all 0.4s linear;
    z-index: 10000;
  }
  &__nav {
    justify-content: space-around;
    list-style: none;
    display: flex;
    grid-column: 5/-1;
  }

  &__item {
    padding: 1rem 0;
    position: relative;
    text-align: center;
  }

  &__link:hover::after {
    content: '';
    // display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    z-index: -1;
  }
  &__link:hover,
  &__link:active {
    transform: translateY(-1rem);
  }
  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
  }
  &__link-1:link,
  &__link-1:visited {
    display: block;
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
  }
  &__item-1 {
    border: 2px solid #000;
    background-color: $color-orange;
    padding: 1rem 5rem;
    border-radius: 5rem;
    color: $color-white !important;
    width: 20rem;
    height: 4.6rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  &__item-1:hover {
    transform: translateY(-5px);
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
  &__item-1:active {
    transform: translateY(-2px);
  }
  &__sticky {
    background-color: $color-white;
    transition: all 0.4s linear;
    box-shadow: 0 0 11px -1px gray;
    .header__logo {
      transition: all 0.4s ease-in-out;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

#menu-bar,
.header__logo-phone {
  display: none;
}

.main-nav {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  background: white;
  min-width: 100vw;
  z-index: 100;
  height: 70px;
  // padding: 2rem ;

  &__brand-text {
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    color: #efefef;
    transition: 0.25s;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 0%;
      bottom: 0;
      left: 50%;
      background: #33f1e7;
      transition: 0.25s;
    }

    &::after {
      content: '';
      position: absolute;
      height: 0;
      width: 40%;
      bottom: -0.2rem;
      left: 30%;
      border-right: solid 2px #33f1e7;
      border-left: solid 2px #33f1e7;
      transition: 0.25s;
    }

    &:hover {
      color: #33f1e7;
      top: 0px;

      &::before {
        width: 90%;
        left: 5%;
        transition: 0.25s;
      }

      &::after {
        height: 0.5rem;
        transition: 0.25s;
      }
    }
  }

  input[type='checkbox'] {
    display: none;
  }

  .hamburger-menu {
    width: 30px;
    right: 20px;
    position: absolute;
    // top: 25px;
    cursor: pointer;
    display: none;
    z-index: 100;
    margin-left: auto;
  }

  &__items {
    display: flex;
    margin-right: 1rem;
    min-height: 72px;
    align-items: center;
    list-style: none;
  }

  &__link {
    color: #333;
    text-decoration: none;
    margin: 0.5rem;
    padding: 1rem;
    position: relative;
    transition: 0.5s;

    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 0%;
      bottom: 0.5rem;
      left: 50%;
      background: #33f1e7;
      transition: 0.5s;
    }

    &::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0%;
      bottom: 0.2rem;
      left: 50%;
      border-right: solid 2px #33f1e7;
      border-left: solid 2px #33f1e7;
      transition: height 0.5s, width 0.5s 0.25s, left 0.5s 0.25s;
    }

    &:hover {
      color: #33f1e7;

      &::before {
        width: 90%;
        left: 5%;
      }

      &::after {
        height: 0.6rem;
        width: 90%;
        left: 5%;
      }
    }
  }
} // End main-nav

@media (max-width: 2400px) {
  .main-nav {
    flex-wrap: wrap;
    display: none;
    &__items {
      display: block;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100vw;
      text-align: center;
      background: white;
      transition: max-height 0.5s;
      max-height: 0px;
      min-height: 0px;
      overflow: hidden;
      z-index: 100;
    }

    &__link {
      display: inline-block;
      width: 50%;
    }

    .hamburger-menu {
      display: block;
    }

    // #check-box-dropdown:checked + .hamburger-menu span {
    //   height: 0px;
    //   background: #000;

    //   &::before {
    //     transform: rotate(45deg);
    //     background: #cc0e18;
    //   }

    //   &::after {
    //     top: 15px;
    //     transform: rotate(-45deg);
    //     background: #cc0e18;
    //   }
    // }

    #check-box-dropdown:checked ~ &__items {
      max-height: 500px;
      border-bottom: 2px solid #efefef;
    }
  }
} // End main-nav media query
