.header {
  &__sidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(12, 1fr);
    transition: all 0.4s linear;
    z-index: 10000;
  }
  &__nav {
    justify-content: space-around;
    list-style: none;
    display: flex;
    grid-column: 5/-1;
  }

  &__item {
    padding: 1rem 0;
    position: relative;
    text-align: center;
  }

  &__link:hover::after {
    content: '';
    // display: block;
    position: absolute;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-secondary;
    z-index: -1;
  }
  &__link:hover,
  &__link:active {
    transform: translateY(-1rem);
  }
  &__link:link,
  &__link:visited {
    display: block;
    text-decoration: none;
    color: $color-black;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
  }
  &__link-1:link,
  &__link-1:visited {
    display: block;
    text-decoration: none;
    color: $color-white;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    transition: all 0.2s;
  }
  &__item-1 {
    border: 2px solid #000;
    background-color: $color-orange;
    padding: 1rem 5rem;
    border-radius: 5rem;
    color: $color-white !important;
    width: 20rem;
    height: 4.6rem;
    cursor: pointer;
    transition: all 0.2s;
  }
  &__item-1:hover {
    transform: translateY(-5px);
    // box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }
  &__item-1:active {
    transform: translateY(-2px);
  }
  &__sticky {
    background-color: $color-white;
    transition: all 0.4s linear;
    box-shadow: 0 0 11px 3px gray;
    .header__logo {
      transition: all 0.4s ease-in-out;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
