@import 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  .back {
    position: absolute;
    .text {
      font-family: $font-display-2;
      font-size: 294px;
      opacity: 0.6;
      font-weight: 700;
      color: #cbf3f2;
    }
  }
  .front {
    text-align: center;
    z-index: 999;
    margin-top: 10%;
    h1 {
      font-size: 50px;
      font-family: $font-primary;
      color: $color-primary;
      margin-bottom: 5%;
    }
    p {
      font-size: 18px;
      font-family: $font-primary;
      color: #333;
      line-height: 2;
    }
  }
}
main {
  .container-wrap {
    width: 100%;
    background: $color-primary;
    .container-content {
      text-align: center;
      nav {
        width: 100%;
        padding: 40px 0;
        ul {
          width: calc(100% - 370px);
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 0 auto;
          padding: 1% 0;
          background-color: #fff;
          border: 2px #000 solid;
          border-radius: 10px;
          li {
            list-style: none;
            padding: 0 10px;
            &:not(:last-child)::after {
              content: '';
              // border-right: 2px solid #000;
              // padding:0 100px;
            }
            a {
              text-align: center;
              text-decoration: none;
              font-size: 16px;
              font-weight: bold;
              color: #000;
            }
          }
        }
      }
      h1 {
        font-size: 30px;
        color: $color-white;
        font-weight: bold;
        line-height: 2em;
        width: 732px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
        padding-top: 50px;
      }
      p {
        font-size: 16px;
        font-family: $font-primary;
        color: $color-white;
        line-height: 3;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 100px;
      }
    }
  }
  .section {
    width: 100%;
    padding: 10% 0;
    .container-section {
      text-align: center;
      // margin: 0 auto;
      h1 {
        font-size: 40px;
        font-weight: bold;
        color: $color-primary;
        margin-bottom: 4%;
      }
    }
    .container-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;

      .border-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 263px;
        height: 263px;
        border: 3px solid $color-primary;
        border-radius: 100%;
        span {
          font-size: 117px;
          font-weight: bold;
          -webkit-text-stroke: 2px $color-secondary-dark;
          color: $color-white;
          position: absolute;
          top: -100px;
          // left: 0;
        }
        p {
          font-size: 22px;
          font-weight: bold;
          color: $color-primary;
          text-align: center;
          padding: 20px;
        }
      }
    }
  }
}
