.container {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  .back {
    position: absolute;
    .text {
      font-family: $font-display-2;
      font-size: 200px;
      opacity: 0.6;
      font-weight: 700;
      color: #cbf3f2;
    }
  }
  .front {
    text-align: center;
    z-index: 999;
    margin-top: 10%;
    h1 {
      font-size: 50px;
      font-family: $font-primary;
      color: $color-primary;
      margin-bottom: 5%;
    }
    p {
      font-size: 18px;
      font-family: $font-primary;
      color: #333;
      line-height: 2;
    }
  }
}
