.question {
  margin-top: 12rem;
  &__line {
    background: url(../img/question.png);
    background-position: center;
    background-size: cover;
    height: 1.5rem;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10rem;
  }

  &__item {
    width: 225px !important;
    height: 70px !important;
    border-radius: 10rem !important;
    margin-bottom: 2rem !important;
  }
  &__link {
    font-size: 2.2rem !important;
    padding-left: 0.5rem !important;
    color: black !important;
  }
}
.heading__h2 {
  color: $color-primary;
  font-size: 37px;
  text-align: center;
  padding-top: 3rem;
  font-weight: 700;
}
.heading__h4 {
  text-align: center;
  color: $color-primary;
  font-family: $font-display-3;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  padding: 2rem 1rem;
}
.heading__p {
  text-align: center;
  line-height: 2;
  font-size: 1.4rem;
  font-weight: medium;
  margin-bottom: 5rem;
}
