@media screen and (max-width: 500px) {
  // HOME.//
  .wrapper {
    height: 47vh;
    overflow: hidden;
  }
  .bg__video {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
    height: 42%;
  }
  .wrapper img.people {
    width: 86%;
    top: 10%;
  }
  .wrapper img.text {
    top: 16%;
    width: 45%;
  }
  .wrapper__star {
    display: none;
  }
  .bg {
    bottom: 50rem;
    margin: 1rem;
    border: 1px solid #000;
    border-radius: 3rem;
    height: 30px;
    font-weight: 400;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0.5rem;
  }
  .bg__news {
    grid-column: 1/4;
    font-size: 1rem !important;
  }
  .bg__times {
    grid-column: 4/5;
    font-size: 1rem;
  }
  .bg__text {
    grid-column: 5/12;
    font-size: 1rem;
  }
  .bg__unit-icon {
    width: 1.6rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
  }

  .whatit19 {
    overflow: hidden;
  }
  .whatit19__h3 {
    font-size: 1.8rem;
    span:last-child {
      font-size: 3rem;
      letter-spacing: 2px;
    }
  }
  .whatit19__text {
    font-size: 1.2rem;
    line-height: 1.6;
    font-weight: 400;
    margin: 1rem;
    text-align: center;
  }

  .IT19 .wrap-box .content-box {
    justify-content: center;
    align-items: center;
  }
  .IT19 .wrap-box .content-box .txt {
    margin-left: 0.5rem;
  }
  .IT19 .wrap-box .content-box .txt h1 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .row-card {
    align-items: center;
    padding: 0rem;
    margin-bottom: 1rem;
  }
  .dekikoto {
    overflow: hidden;
    padding: 40px 0;
  }
  .dekikoto ul {
    margin-bottom: 3rem;
  }

  .dekikoto .content-top span {
    font-size: 1.8rem;
  }
  .dekikoto .content-top h3 {
    font-size: 30px;
  }
  .dekikoto .content-txt {
    margin: 1rem;
  }
  ol,
  ul {
    padding-left: 0rem !important;
  }
  .container-feature .box-feature .front .content-h3 h3 {
    margin-top: 3rem;
  }

  .IT19 h3 {
    font-size: 3rem;
    color: #15c2c4;
  }
  .IT19 .content-txt {
    font-size: 14px;
    line-height: 2.4rem;
    margin: 1rem;
  }

  .container-feature .box-feature .back p {
    font-size: 70px;
    opacity: 0.6;
  }
  .container-feature .box-feature {
    width: 355px;
  }
  .container-feature .box-feature .front .content-h3 h3 {
    font-size: 30px;
  }

  .container-feature .box-feature .front {
    text-align: center;
    width: auto;
    z-index: 999;
  }

  .container-feature
    .box-feature
    .front
    .wrap-box-feature
    .content-box.feature_1
    img,
  .container-feature .box-feature .front .wrap-box-feature .feature_2 img,
  .container-feature .box-feature .front .wrap-box-feature .feature_3 img {
    height: 100px;
    margin-top: 8rem;
  }
  .container-feature
    .box-feature
    .front
    .wrap-box-feature
    .content-box.feature_1
    span,
  .container-feature .box-feature .front .wrap-box-feature .feature_2 span,
  .container-feature .box-feature .front .wrap-box-feature .feature_3 span {
    top: -33px;
    left: -20px;
    font-size: 100px;
    z-index: -1;
  }
  .container-feature
    .box-feature
    .front
    .wrap-box-feature
    .content-box.feature_1
    p,
  .container-feature .box-feature .front .wrap-box-feature .feature_2 p,
  .container-feature .box-feature .front .wrap-box-feature .feature_3 p {
    font-size: 1.6px;
    line-height: 2.6rem;
  }
  .container-feature .box-feature {
    padding: 1rem;
  }

  .section-bottom {
    padding: 4rem 1rem;
  }
  .section-bottom .section-bottom-txt h3 {
    font-size: 24px;
    padding: 4rem;
  }
  .section-bottom .section-bottom-txt p {
    font-size: 12px;
    padding-bottom: 3rem;
  }
  .btn {
    width: 30rem;
    height: 5rem;
    padding: 1rem;
    margin: auto;
    font-size: 1.6rem;
    // flex-wrap: wrap !important;
  }
  .btn__arrow img {
    top: 18% !important;
  }

  .section-two {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .section-two .content-txt h3 {
    font-size: 30px;
    color: #15c2c4;
    font-weight: 700;
  }
  .section-two .content-txt .txt {
    font-size: 14px;
    font-weight: 400;
    margin: 1rem;
    line-height: 1.6;
  }

  #carouselExampleIndicators {
    padding: 40px 0;
    text-align: center;
    margin: 1rem 2rem;
  }
  #carouselExampleIndicators
    .carousel-inner
    .carousel-item
    .carousel-item-content {
    width: 325px;
    height: 180px;
    display: flex;
    border-radius: 10px;
  }
  #carouselExampleIndicators .carousel-inner .carousel-item {
    padding: 0;
  }
  #carouselExampleIndicators
    .carousel-inner
    .carousel-item
    .carousel-item-content
    .content-txt
    h3 {
    font-size: 16px;
    margin-bottom: 0;
    width: 120%;
  }
  .carousel-item {
    height: 195px;
  }
  #carouselExampleIndicators
    .carousel-inner
    .carousel-item
    .carousel-item-content
    .content-txt {
    width: 100%;
    font-size: 10px;
    letter-spacing: 4px;
    color: white;
    text-align: start;
    margin: 4rem 0 0 0;
  }
  #carouselExampleIndicators .carousel-control-next {
    right: 0;
    width: 30px;
    height: 30px;
  }
  #carouselExampleIndicators .carousel-control-prev {
    left: 0;
    width: 30px;
    height: 30px;
  }
  .text-none {
    display: none;
  }
  .container-three {
    flex-direction: column;
    padding: 2rem;
  }
  .container-three .border-box {
    width: 325px;
    margin: 2rem;
  }
  .latest-info h3 {
    font-size: 30px;
  }
  .latest-info .txt {
    font-size: 14px;
    line-height: 1.6;
    margin: 1rem;
  }
  .latest-info .wrap-news .newsWrapback .container-news .news-content {
    width: auto;
    margin: 1rem;
  }
  .latest-info .wrap-news .newsWrapback .container-news .news-img {
    margin: 30px 5px 5px 0;
  }

  .latest-info
    .wrap-news
    .newsWrapback
    .container-news
    .news-content
    .news-date
    h2 {
    padding: 5px;
  }
  .heading__h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .heading__p {
    margin: 1rem 1rem 5rem 1rem;
  }
  .question__btn {
    flex-wrap: wrap;
    padding: 0rem;
  }
  .question__item {
    margin-bottom: 2rem !important;
  }
  .question__link {
    font-size: 1.4rem !important;
    padding-left: 1rem !important;
    color: black !important;
  }
}
@media screen {
  .slideshow-container {
    display: none;
  }
}

@media (max-width: 850px) {
  #menu-bar {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    color: var(--accent);
  }

  .header {
    &__sidebar {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
      display: flex;
    }
    &__nav {
      position: fixed;
      width: 100%;
      height: calc(100% - 10rem);
      top: 6rem;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      right: -100%;
      transition: all 0.5s ease-in-out;
      opacity: 0.5;
    }
    &__logo-img {
      display: none;
    }
  }
}
