@media screen and (max-width: 500px) {
  // HOME.//

  ol,
  ul {
    padding-left: 0rem !important;
  }

  .text-none {
    display: none;
  }
  .container-three {
    flex-direction: column;
    padding: 2rem;
  }
  .container-three .border-box {
    width: 325px;
    margin: 2rem;
  }
  .latest-info h3 {
    font-size: 30px;
  }
  .latest-info .txt {
    font-size: 14px;
    line-height: 1.6;
    margin: 1rem;
  }
  .latest-info .wrap-news .newsWrapback .container-news .news-content {
    width: auto;
    margin: 1rem;
  }
  .latest-info .wrap-news .newsWrapback .container-news .news-img {
    margin: 30px 5px 5px 0;
  }

  .latest-info
    .wrap-news
    .newsWrapback
    .container-news
    .news-content
    .news-date
    h2 {
    padding: 5px;
  }
  .heading__h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .heading__p {
    margin: 1rem 1rem 5rem 1rem;
  }
  .question__btn {
    flex-wrap: wrap;
    padding: 0rem;
  }
  .question__item {
    margin-bottom: 2rem !important;
  }
  .question__link {
    font-size: 1.4rem !important;
    padding-left: 1rem !important;
    color: black !important;
  }
}
@media screen {
  .slideshow-container {
    display: none;
  }
}

@media (max-width: 850px) {
  #menu-bar {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    color: var(--accent);
  }

  .header {
    &__sidebar {
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
      display: flex;
    }
    &__nav {
      position: fixed;
      width: 100%;
      height: calc(100% - 10rem);
      top: 6rem;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      right: -100%;
      transition: all 0.5s ease-in-out;
      opacity: 0.5;
    }
    &__logo-img {
      display: none;
    }
  }
}
