.service {
  display: flex;
  justify-content: center;
  height: 100%;
  &__boxs {
    width: 914px;
    height: 510px;
  }
  &__box {
    position: relative;
  }
  &__text {
    margin-bottom: 8rem;
    margin-top: 2.4rem;
    font-size: 1.6rem;
  }
  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    div {
      width: 70px;
      height: 70px;
      margin-right: 2rem;
      background: $color-white;
      box-shadow: 6px 6px 0 $color-primary;
      text-align: center;
    }
    span {
      font-size: 34pt;
      font-weight: bold;
    }
  }
}

// === SCHEDULE === //
.schedule {
  &__title {
    text-align: center;
    h3 {
      font-size: 4rem;
      font-weight: bold;
    }
    p {
      margin: auto;
      width: 670px;
      font-size: 1.6rem;
      font-weight: medium;
    }
  }
  &__table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
// ===TABLE=== //
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
table,
th,
td {
  border: 1px solid $color-black;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 2rem 6rem;
  font-size: 1.4rem;
  text-transform: uppercase;
}

tr td:not(:last-child) {
  font-weight: bold;
}
.table {
  &__th--row {
    background-color: rgba($color-secondary, 0.9);
  }
  &__th--column {
    background-color: rgba($color-primary, 0.9);
    color: $color-white;
    font-family: $font-display-3;
    font-weight: bold;
  }
}
