section.question 
  .question__line
  h2.heading__h2 お問い合わせ
  h4.heading__h4 Contact
  p.heading__p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br/>
    |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している

  ul.question__btn
    li.btn.question__item
      img(src="./img/question_1.svg", alt="")
      a.question__link(href="register.html") 資料請求
    li.btn.question__item
      img(src="./img/question_2.svg", alt="")
      a.question__link(href="contact.html") お問い合わせ
    li.btn.question__item
      img(src="./img/question_3.svg", alt="")
      a.question__link(href="#") 090-2187-1287
    li.btn.question__item
      img(src="./img/question_4.svg", alt="")
      a.question__link(href="contact_2.html") よくある質問
  
  footer
    .footer__sns 
      img(src="./img/twitter.svg", alt="")
      img(src="./img/facebook.svg", alt="")
    .footer
      .footer__top 
        .footer__logo
          a(href="index.html")  
            img(src="./img/logo.svg", alt="")
        .address
          .address__left 
            p 住所
            p 〒541-0052　大阪府大阪市中央区安土町2-2-15 <br/>
              |ハウザー堺筋本町駅前ビル603号
          .address__line 
          .address__right 
            p 運営会社
            div.address__right--1
              p 株式会社ソフタスバリューコネクト
              p 〒541-0052　大阪府大阪市中央区安土町2-2-15 <br/>
                |ハウザー堺筋本町駅前ビル603号
      .footer__bottom          
        .table1
          ul
            li.table1__father 
              a(href="it19.html") IT19とは？
            li.table1__children IT19について
            li.table1__children 強み
            li.table1__children 講師紹介
            li.table1__children 生徒の声
          ul 
            li.table1__father 
              a(href="service.html") できること
            li.table1__children 資格取得
            li.table1__children ITのこと
            li.table1__children マネジメント研究
            li.table1__children 授業内容表
          ul
            li.table1__father 
              a(href="method.html") 授業方法
            li.table1__children IT19受講の流れ
            li.table1__children IT19の利用手順
            li.table1__children 授業方法
          ul
            li.table1__father
              a(href="news.html") 最新情報
            li.table1__children お知らせ
            li.table1__children Instagram
            li.table1__children Twitter
          ul
            li.table1__father 
              a(href="contact.html") お問い合わせ
            li.table1__children お問い合わせ
            li.table1__children よくある質問
            li.table1__children 講師紹介
            li.table1__children 生徒の声

      .footer__mobile-sns
        img(src="./img/twitter.svg", alt="")
        img(src="./img/facebook.svg", alt="")
