header.header
      .header__sidebar#header__sidebar 
        .header__logo
          img.header__logo-img(src="img/Logo.svg", alt="Logo")
        ul.header__nav 
          li.header__item 
            a.header__link(href="#") IT19とは
          li.header__item 
            a.header__link(href="#") できること
          li.header__item 
            a.header__link(href="#") 授業方法
          li.header__item 
            a.header__link(href="#") 最新情報
          li.header__item 
            a.header__link(href="#") お問い合わせ
          li.header__item-1 
            a.header__link-1(href="#") 応募してみる