doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title よくある質問
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/animate/animate.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")

        //-favicon here
        link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
        script(src="js/app.js")   
        
        script(src="js/wow.min.js") 
        script(type="text/javascript") new WOW().init();
    body 
        include _header
        .container 
            .back
                marquee(behavior="", direction="").text inquiry
            .front.wow.animate__zoomIn     
               h1 よくある質問
               p    IT19を通して IT インフラについて学んでいただき、資格を取得するサポートをします。ITインフラの技術者を増や<br>
                    |し、IT業界を盛り上げていきたいという思いを実現した教育関連サービスです。

        main 
            nav 
                ul 
                    li 
                        a(href="contact.html") お問い合わせ
                    span.lm-separator |
                    li 
                        a(href="contact_2.html") よくある質問

            section.questions
                .title
                    h2 IT19全般の質問
                .section-center
                    article.question
                        .question-title
                            .bg-q
                                span Q1
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                    article.question
                        .question-title
                            .bg-q
                                span Q2
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ

                .title
                    h2 入会前の質問
                .section-center
                    article.question
                        .question-title
                            .bg-q
                                span Q1
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                    article.question
                        .question-title
                            .bg-q
                                span Q2
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                

                .title
                    h2 入会後の質問
                .section-center
                    article.question
                        .question-title
                            .bg-q
                                span Q1
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                    article.question
                        .question-title
                            .bg-q
                                span Q2
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                

                .title
                    h2 施設利用の質問
                .section-center
                    article.question
                        .question-title
                            .bg-q
                                span Q1
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                    article.question
                        .question-title
                            .bg-q
                                span Q2
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                    article.question
                        .question-title
                            .bg-q
                                span Q3
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
                            button.question-btn
                                span.plus-icon
                                    i.fas.fa-plus-circle
                                span.minus-icon
                                    i.fas.fa-minus-circle
                        .question-text
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
        include _footer





        script(src="js/question.js") 
                                

