doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/animate/animate.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
    script(src="./js/app.js")   
    script(src="js/wow.min.js") 
    script(type="text/javascript") new WOW().init();

    title IT19
  body
    include _header
    .container 
      .back
          p.text feature
      .front  
          h1 IT19とは？
          p    吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
              |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
    main 
      .container-wrap 
          .container-content 
              nav 
                  ul 
                      li 
                          a(href="") IT19について
                      li 
                          a(href="") 強み
                      li 
                          a(href="") 講師紹介
                      li 
                          a(href="") 生徒の声
              h1  この文章はダミーです。文字の大きさ、量、字間、<br>
                  |行間等を確認するために入れています。
                  
              p   吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
                  |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>
                  |吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で<br>
                  |一番獰悪な種族であったそうだ。この書生というのは時々<br>
                  |吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
                  |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>
                  |吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で<br>
                  |一番獰悪な種族であったそうだ。この書生というのは時々<br>
                  |吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。
      section.section 
          .container-section
              h1 IT19の特長
          .container-box 
              .border-box 
                  span 01
                  p   技術者が教える！
                      |なんとかなんとかなんとか！
              .border-box 
                  p   技術者が教える！
                      |なんとかなんとかなんとか！
              .border-box 
                  p   技術者が教える！
                      |なんとかなんとかなんとか！

    include _footer