doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 授業方法
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/animate/animate.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        //-favicon here
        link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
        script(src="js/app.js")   
        script(src="js/wow.min.js") 
        script(type="text/javascript") new WOW().init();
    body 
        include _header
        .container 
            .back
                marquee(behavior="", direction="").text class methods
            .front.wow.animate__zoomIn  
                h1 授業方法
                p    吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
                    |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
        main 
            section 
                .IT19
                    .content-top
                        h3 IT19受講の流れ
                        span COURSE FLOW
                    .wrap-box 
                        .content-box 
                            img(src="img/Mask-group.png", alt="")
                            .txt 
                                h1 受講
                                p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
                        i.fa.fa-caret-down

                    .wrap-box 
                        .content-box 
                            img(src="img/Mask-group_2.png", alt="")
                            .txt 
                                h1 半年で成長!
                                p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ 
                        i.fa.fa-caret-down
                    .wrap-box 
                        .content-box 
                            img(src="img/Mask-group_3.png", alt="")
                            .txt 
                                h1 職を手に
                                p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
            .content
                .content__box.wow.animate__fadeInUp 
                    h3 IT19の利用手順
                article 
                    .method 
                        .method__content
                            .method__step
                                span.method__text STEP
                                span.method__number 1
                            .method__arrow
                                img(src="img/method-arrow.svg", alt="")
                                p お問い合わせ
                            .method__group
                                .img
                                    img.method__img(src="img/step-1.svg", alt="")
                                .txt 気になったら問い合わせ資料請求してください。
                        .method__content
                            .method__step
                                span.method__text STEP
                                span.method__number 2
                            .method__arrow
                                img(src="img/method-arrow.svg", alt="") 
                                p 応募
                            .method__group
                                .img 
                                    img.method__img(src="img/step-2.svg", alt="")
                                .txt 相談日時を決めます。
                        .method__content
                            .method__step
                                span.method__text STEP
                                span.method__number 3
                            .method__arrow
                                img(src="img/method-arrow.svg", alt="")
                                p 面談
                            .method__group
                                .img
                                    img.method__img(src="img/step-3.svg", alt="")
                                .txt 将来の展望を伺い適正を見せていただきます
                        .method__content
                            .method__step
                                span.method__text STEP
                                span.method__number 4
                            .method__arrow
                                img(src="img/method-arrow.svg", alt="")
                                p 契約 (お申し込み)
                            .method__group
                                .img 
                                    img.method__img(src="img/step-4.svg", alt="")
                                .txt 納得いただけた上で契約します
                        .method__content
                            .method__step
                                span.method__text STEP
                                span.method__number 5
                            .method__arrow
                                img(src="img/method-arrow.svg", alt="")
                                p 授業実施
                            .method__group
                                .img
                                    img.method__img(src="img/step-5.svg", alt="")
                                .txt 目標に合わせたカリキュラムを作成します。
                    

            section.section.bg-method
                .content__box.wow.animate__fadeInUp
                    h3 どういう方法があるの？

                article.sider-pro
                    .sp-slider-container
                        .header-container.wow.animate__fadeInUp
                            .header-container-text
                                h3 eラーニング
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                                img(src="img/method-1.png", alt="")
                        .header-container.wow.animate__fadeInUp
                            .header-container-text
                                h3 オンライン授業
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                                img(src="img/method-2.png", alt="")
                        .header-container.wow.animate__fadeInUp
                            .header-container-text
                                h3 対面授業
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                                img(src="img/method-3.png", alt="")
                        .header-container.wow.animate__fadeInUp
                            .header-container-text
                                h3 動画配信
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                                img(src="img/method-4.png", alt="")
                
                .slider__mobile 
                    .header-container.wow.animate__fadeInUp
                        .slider__img 
                            img(src="img/methodfull-1.png", alt="")
                        .slider__group 
                            .slider__num 01
                            .slider__text 
                                h3 eラーニング
                                .slider__line
                                h5 インターネットを利用した学習形態
                                p 従来の授業システムは講師と生徒が同じ時間、同じ場所にいなければいけないという条件がありました。ですが、e ラーニングはネットワークに接続出来る場所であれば、いつでもどこでも、それぞれの進捗に合わせて学習が可能です。
                    .header-container.wow.animate__fadeInUp
                        .slider__img 
                            img(src="img/methodfull-2.png", alt="")
                        .slider__group
                            .slider__num 02
                            .slider__text 
                                h3 オンライン授業
                                .slider__line
                                h5 Teams にてオンライン授業を実施
                                p 教室に通うのが当たり前だった授業が、インターネット回線さえあれば、たとえ講義の場所から離れたところに住んでいても受講が可能です。オンライン授業では双方のやり取りも簡単なので、その授業内で疑問を解消できます。
                    .header-container.wow.animate__fadeInUp
                        .slider__img 
                            img(src="img/methodfull-3.png", alt="")
                        .slider__group 
                            .slider__num 03
                            .slider__text 
                                h3 対面授業
                                .slider__line
                                h5 教室へ直接通っていただき学習サポート
                                p 対面授業は、周囲の進み具合がわかったり、その場で疑問をすぐに質問し解決できたりとさまざまなメリットがあります。オンラインではなく対面で受けたいという方に向けて、対面授業も実施しております。
                    .header-container.wow.animate__fadeInUp
                        .slider__img 
                            img(src="img/methodfull-4.png", alt="")
                        .slider__group 
                            .slider__num 04
                            .slider__text 
                                h3 動画配信
                                .slider__line
                                h5 動画で授業内容を知ることが可能！
                                p オンライン授業に参加出来なかった方や、「もう１度授業を見返したい」 という方へ向けた授業です。オンライン授業で実施したものと同じ内容の授業を IT19のCanvasより視聴いただけます。

        include _footer            


