doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 授業方法
        
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
        link(rel="stylesheet", href="css/animate.css")
        link(rel="stylesheet", href="css/animate/animate.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        //-favicon here
        link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
        script(src="js/app.js")   
        script(src="js/wow.min.js") 
        script(type="text/javascript") new WOW().init();
    body 
        include _header
        .container 
            .back
                p.text class methods
            .front  
               h1 授業方法
               p    吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
                    |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
        main 
            section 
                .IT19
                    .content-top
                        h3 IT19受講の流れ
                        span COURSE FLOW
                    .content-txt 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
                            |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
                    .wrap-box 
                        .content-box 
                        img(src="img/Mask Group.png", alt="")
                        .txt 
                            h1 受講
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
                        i.fa.fa-caret-down

                    .wrap-box 
                        .content-box 
                        img(src="img/Mask Group_2.png", alt="")
                        .txt 
                            h1 半年で成長!
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ 
                        i.fa.fa-caret-down

                    .wrap-box 
                        .content-box 
                        img(src="img/Mask Group_3.png", alt="")
                        .txt 
                            h1 職を手に
                            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
            section.section
                .content 
                    h3 IT19の利用手順
                article 
                    .wrapper 
                        .wrapper-content
                            .wrapper-content-top 
                                img.step(src="img/step_1.png", alt="")
                                
                                p お問い合わせ
                                img(src="img/mail.png", alt="")
                                .txt 気になったら問い合わせ資料請求してください。
                        .wrapper-content
                            .wrapper-content-top 
                                img.step(src="img/step_2.png", alt="")
                                
                                p お問い合わせ
                                img(src="img/mail.png", alt="")
                                .txt 相談日時を決めます。
                        .wrapper-content
                            .wrapper-content-top 
                                img.step(src="img/step_3.png", alt="")
                                
                                p お問い合わせ
                                img(src="img/mail.png", alt="")
                                .txt 将来の展望を伺い適正を見せていただきます
                        .wrapper-content
                            .wrapper-content-top 
                                img.step(src="img/step_4.png", alt="")
                                
                                p お問い合わせ
                                img(src="img/mail.png", alt="")
                                .txt 納得いただけた上で契約します
                        .wrapper-content
                            .wrapper-content-top 
                                img.step(src="img/step_5.png", alt="")
                                
                                p お問い合わせ
                                img(src="img/mail.png", alt="")
                                .txt 目標に合わせたカリキュラムを作成します。
                        



            section.section
                .content
                    h3 どういう方法があるの？

                article.sider-pro
                    .sp-slider-container
                        .header-container
                            .header-container-text
                                h3 eラーニング
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                        .header-container
                            .header-container-text
                                h3 オンライン授業
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                        .header-container
                            .header-container-text
                                h3 対面授業
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                        .header-container
                            .header-container-text
                                h3 動画配信
                                span インターネットを利用した学習形態
                                .txt eラーニングはパソコンやタブレット、スマートフォン等のデバイスを活用しネットワークを介して学習します。
                            .header-image
                    


