doctype html
html(lang="en")
    head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title 応募フォーム
      
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
      link(rel="stylesheet", href="css/style.css")
      link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
      link(rel="stylesheet", href="css/animate.css")
      link(rel="stylesheet", href="css/animate/animate.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
      //-favicon here
      link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
      script(src="js/app.js")   
      script(src="js/wow.min.js") 
      script(type="text/javascript") new WOW().init();
    body 
      include _header
      .container 
        .back
            marquee(behavior="", direction="").text Application
        .front.wow.animate__zoomIn    
            h1 応募フォーム
            p  IT19を通して IT インフラについて学んでいただき、資格を取得するサポートをします。ITインフラの技術者を増や<br/>し、IT業界を盛り上げていきたいという思いを実現した教育関連サービスです。
      main      
        section.bg-section
          .wrap
            h2 フォームからお問い合わせ
            p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじ
            .main-div#login_div 
                .flex 
                    label(for="") お名前
                    .col
                        input(type="text" placeholder="笹嵜 希花")
                .flex 
                    label(for="") フリガナ
                    .col
                        input(type="text" placeholder="ササザキ ノノカ")
                .flex 
                    label(for="") 会社名・団体名
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") 職業
                    .col
                        input(type="text" placeholder="")
                            
                .flex 
                    label(for="") 性別
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") 住所
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") 電話番号
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") メールアドレス
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") メールアドレス確認
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") 応募人数
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") お問い合わせの種類
                    .col
                        input(type="text" placeholder="")
                .flex 
                    label(for="") お問い合わせの内容
                    .col
                        textarea(name="", cols="30", rows="10")
            .border-box 
                h2 個人情報の取扱いについて
                p   ・スパムメールや迷惑メール、故意に個人団体を誹謗中傷するお問い合わせについ<br>
                    |ては、返信をしない場合がありますので、予めご了承ください。<br>
                    |・入力していただいた個人情報は当社にて厳重に管理し、当社業務以外には利用い<br>
                    |たしません。なお、法律に基づいた、警察等の行政機関や司法機関からの要請が<br>
                    |あった場合を除き、第三者には提供いたしません。

            .form-check
                input(type="checkbox").form-check-input
                label(for="").form-check-input 個人情報のお取扱いに関しまして「個人情報の取り扱いについて」をご確認いただき、同意の上で送信ボタンを押してください。

            button.btn 送信内容を確認する
                span.btn__arrow 
                img(src="img/arrow-left.svg", alt="")
            

      include _footer