doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&family=Quicksand:wght@400;500&display=swap")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://use.typekit.net/lnd2ehr.css")
    link(rel="stylesheet", href="css/animate.css")
    link(rel="stylesheet", href="css/animate/animate.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="shortcut icon", style="image/png", href="img/favicon.svg")
    script(src="./js/app.js")   
    script(src="js/wow.min.js") 
    script(type="text/javascript") new WOW().init();

    title service
  body 
    include _header
    .container 
      .back
          marquee(behavior="", direction="").text servivice info
      .front.wow.animate__zoomIn  
          h1 できること？
          p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>
            |何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。
    section.service 
      .service__boxs
        .service__box.wow.animate__fadeInUp   
          img(src="img/service1.png", alt="service")
          .service__caption
            div
              span 資
            div
              span 格
            div
              span 取
            div
              span 得
        .service__text 
          p   吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
        
        .service__box.wow.animate__fadeInUp   
          img(src="img/service2.png", alt="service")
          .service__caption
            div
              span I
            div
              span T
            div
              span の
            div
              span 事
        .service__text 
          p   吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
        
        .service__box.wow.animate__fadeInUp   
          img(src="img/service3.png", alt="service")
          .service__caption
            div
              span マ
            div
              span ネ
            div
              span ジ
            div
              span メ
            div
              span ン
            div
              span ト
            div
              span 研
            div
              span 修
        .service__text 
          p   吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ
    section.schedule
      h2.heading-h2 受講スケジュール
      .schedule__title
        h3 IT入門コース
        p ITにはどんな職種があって、それぞれにどんな資格が必要なのかを学べるIT業界概要から、 IT業界で働くにあたって最初に目指すITパスポート(ITを利活用する、全ての社会人が備えておくべきITに関する基礎的な知識が証明出来る国家試験)を学べます。
      .schedule__table 
        .table__title
          h3 
            span
            |約５ヶ月で習得可能！ 
            span
        .table__box
          table
            thead 
              tr 
                th
                th.table__th--row 日数
                th.table__th--row 授業名
                th.table__th--row 授業内容
            tbody
              tr 
                th.table__th--column step 1
                td 22日
                td 企業と法務
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 2
                td 18日
                td 経営戦略
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 3
                td 15日
                td システム戦略
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 4
                td 10日
                td 開発技術
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 5
                td 10日
                td プロジェクトマネジメント
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 6
                td 12日
                td サービスマネジメント
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 7
                td 19日
                td 基礎理論
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 8
                td 20日
                td コンピュータシステム
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 9
                td 24日
                td 技術要素
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。

          .table__note 
            p ※確約ではありません
      .line
      .schedule__title 
        h3 CCNA
        p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。
      .schedule__table 
        .table__title
          h3
            span
            |約５ヶ月で習得可能！ 
            span
        .table__box 
          table
            thead
              tr 
                th 
                th.table__th--row 日数
                th.table__th--row 授業名
                th.table__th--row 授業内容
            tbody
              tr 
                th.table__th--column step 1
                td 27日
                td ネットワークの基礎<br>
                  |TCP/IPプロトコルの仕組み <br>
                  |Ciscoルーターの基本
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 2
                td 25日
                td LANの基礎<br>
                  |LANスイッチング<br>
                  |Catalystスイッチの基本設定
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 3
                td 26日
                td ネットワークの管理
                  |VLAN<br>
                  |IPルーティング <br>
                  |アクセスリスト
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 4
                td 26日
                td NAT、DHCP、DNS、WAN
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 5
                td 28日
                td ネットワークデバイスの管理 <br>
                  |EtherChannel<br>
                  |HSRP、QoS、IPv6
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 6
                td 28日
                td 無線LAN<br>
                  |ネットワークアーキテクチャ<br>
                  |セキュリティ機能<br>
                  |SDNとネットワークの自動化
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。

          .table__note 
            p ※確約ではありません
      .line
      .schedule__title 
        h3 LinuC
        p 吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。
      .schedule__table 
        .table__title
          h3 
            span
            |約6ヶ月で習得可能！ 
            span
        .table__box 
          table
            thead
              tr 
                th 
                th.table__th--row 日数
                th.table__th--row 授業名
                th.table__th--row 授業内容
            tbody
              tr 
                th.table__th--column step 1
                td 25日
                td Linuxのインストールと<br>
                  |仮想マシン・コンテナの利用 <br>
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 2
                td 25日
                td LANの基礎<br>
                  |LANスイッチング<br>
                  |Catalystスイッチの基本設定
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 3
                td 26日
                td ネットワークの管理
                  |VLAN<br>
                  |IPルーティング <br>
                  |アクセスリスト
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 4
                td 26日
                td NAT、DHCP、DNS、WAN
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 5
                td 28日
                td ネットワークデバイスの管理 <br>
                  |EtherChannel<br>
                  |HSRP、QoS、IPv6
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。
              tr 
                th.table__th--column step 6
                td 28日
                td 無線LAN<br>
                  |ネットワークアーキテクチャ<br>
                  |セキュリティ機能<br>
                  |SDNとネットワークの自動化
                td 吾輩は猫である。名前はまだ無い。吾輩は猫である。

          .table__note 
            p ※確約ではありません


    include _footer    